@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

//Fuentes
$fuente: 'Oxygen', sans-serif;
//Colors
//Reference Color https://material.io/tools/color/#!/?view.left=0&view.right=0&secondary.color=F44336&primary.color=1E88E5
$white: #FFF;
$black: #000;
$grey: #e7ebf0;

$blue: #3e8edd;
$primary: #1e88e5;
$primaryLight: #6ab7ff;
$primaryDark: #005cb2;

$slide: #efd2ca;
$secundary: #f44336;
$secundaryLight: #ff9885;
$secundaryDark: #f34b56;
$secundaryDark2: #ee061676;
$red: #ff0000;
$rose: #EF6F7F;

$blanco2: rgba(255,
255,
255,
0.7);
$lightGray: rgb(200,
200,
200);
$darkGray: rgb(120,
120,
120);

//Screens
$break-small: 320px;
$break-large: 1200px;